<% flash.each do |name, msg| %>
  <p><%= content_tag flash[:notice], "#{flash[:notice]}", class: :notice %></p>
<% end %>
<h1>Welcome</h1>

<% @users.each do |user| %>
  <p>
  <li>
    <l><%= user.username %></l>
    <l><%= link_to 'Destroy', user_path(user), method: :delete %></l>
  </li>
  </p>
<% end %>
