<form method="post">
  <pre><strong>Enter post name:</strong></pre>
  <input type="text" name="name">
  <pre><strong>Enter post:</strong></pre>
  <input type="text" name="content">
  <input type="submit">
</form>
